<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengpinjiucang.mainserver.domain.mapper.ProductMapper">
    <select id="selectOne" resultType="com.zhengpinjiucang.mainserver.domain.bean.ProductBean">
        select * from product
        <where>
            <if test="longId != null">
                long_id = #{longId}
            </if>
            <if test="strNo != null">
                and str_no = #{strNo}
            </if>
        </where>
    </select>
</mapper>